nav {
	position: fixed;
	width: 100%;
	display: flex;
	justify-content: center;
	background: rgba(255, 255, 255, .9);
	z-index: 999;
	
	a {
		color: #444;
	}
	
	a {
		color: #444; }
	
	a:hover {
		color: #0FA0CE; }
}